body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: #1a2a6c; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    background: #373B44; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo-image {
    width: 4em;
}


.card, .form-control, .btn {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover, .form-control:focus, .btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.social-icons i {
    font-size: 24px;
    color: #B0BEC5;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.social-icons i:hover {
    color: #FFFFFF;
}

.navbar, .footer {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a {
    color: #4a90e2;
    text-decoration: none !important;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4a90e2;
    transition: width 0.3s;
}

a:hover {
    color: orange;
}

a:hover::after {
    width: 100%;
}


@media (max-width: 768px) {
    .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center;
    }

    .btn-search {
        width: 70vw !important;
    }

    .icon-profile {
        margin-top: -100px
    }

    a:hover::after {
        width: 100%;
    }

}

.btn-outline-primary {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
    transform: translateY(-5px);
}