<!doctype html>
<html lang="es"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfil de Usuario</title>

    <!-- Metadatos generales -->
    <meta name="author"
          content="Jose Luis Obiang Ela Nanguang, Alfredo Mituy Okenve Obiang">
    <meta name="description"
          content="Página de inicio">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type"
          content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">

    <!-- Metadatos para móviles -->
    <meta property="og:title"
          content="Página de Retos">
    <meta property="og:image"
          content="/images/logo.png">
    <meta property="og:image:alt"
          content="Logo de la página sobre Retos">
    <meta property="og:type"
          content="website">
    <meta property="og:url"
          content="https://retos.com">

    <!-- Estilos CSS -->
    <link rel="stylesheet"
          href="/css/stylesDashboard.css">
    <link rel="stylesheet"
          href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesCommons.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
          rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

</head>

<body>
<header class="header">

    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">

            <h1><a href="/"
                   class="navbar-brand fs-5 text-decoration-none text-white"><img src="/images/logo.png"
                                                                                  alt="Logo de la página web Retos"
                                                                                  class="logo-image"> ChallengeApp</a>
            </h1>
            <button class="navbar-toggler mb-5"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pb-5"
                 id="navbarNav">
                <ul class="navbar-nav ms-md-auto align-items-md-center">
                    <li class="nav-item btn-search">
                        <form class="d-flex"
                              role="search">
                            <input class="form-control me-2"
                                   type="search"
                                   placeholder="Buscar Reto"
                                   aria-label="Search">
                            <button class="btn btn-outline-success"
                                    type="submit">Buscar
                            </button>
                        </form>
                    </li>

                    <li class="nav-item icon-profile ms-md-3">
                        <a class="nav-link"
                           href="/usuario/dashboard">
                            <i class="bi bi-person-circle fs-1 col"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container vh-100">
    <div class="text-center mb-5 text-white">
        <h1>¡Bienvenido a ChallengeApp <b th:text="${nombreUsuario}"></b>!</h1>
        <p>Gestiona tus retos y alcanza tus metas</p>
        <a class="btn btn-primary mt-3" href="/usuario/crearReto"><i class="bi bi-plus-circle"></i> Crear Reto</a>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
        	<a href="/usuario/retosCreados"
           		class="dashboard-link"><i class="bi bi-pencil-square"></i> Retos Creados</a>
    	</div>
        <div class="col-md-3">
            <a href="/usuario/misRetos"
               class="dashboard-link"><i class="bi bi-list-task"></i> Mis Retos</a>
        </div>
        <div class="col-md-3">
            <a href="/usuario/misEstadisticas"
               class="dashboard-link"><i class="bi bi-bar-chart"></i> Mis Estadísticas</a>
        </div>
        <div class="col-md-3">
            <a href="/usuario/amigos"
               class="dashboard-link"><i class="bi bi-people"></i> Amigos</a>
        </div>
        <div class="col-md-3">
            <a href="/usuario/notificaciones"
               class="dashboard-link"><i class="bi bi-bell"></i> Notificaciones</a>
        </div>
        <div class="col-md-3">
            <a href="/usuario/recompensas"
               class="dashboard-link"><i class="bi bi-gift"></i> Recompensas</a>
        </div>
    </div>
</main>

<footer class="bg-dark text-center position-sticky w-100 bottom-0 text-white">
    <div>
        <p>&copy; 2024-2025 ChallengeApp. Todos los derechos reservados.</p>
        <p class="d-flex justify-content-center">
            <a href="#"
               class="me-3">Términos de Uso</a>
            |
            <a href="#"
               class="ms-3">Política de Privacidad</a></p>
        <div class="social-icons">
            <i class="bi bi-whatsapp mx-2"></i>
            <i class="bi bi-instagram mx-2"></i>
            <i class="bi bi-twitter mx-2"></i>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>