<!doctype html>
<html lang="es" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recompensas</title>

    <!-- Metadatos generales -->
    <meta name="author" content="Jose Luis Obiang Ela Nanguang, Alfredo Mituy Okenve Obiang">
    <meta name="description" content="Página de recompensas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Metadatos para móviles -->
    <meta property="og:title" content="Página de Recompensas">
    <meta property="og:image" content="/images/logo.png">
    <meta property="og:image:alt" content="Logo de la página sobre Recompensas">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://retos.com">

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="/css/stylesCommons.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--Iconos de Font Awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">

        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">

                <h1><a href="/" class="navbar-brand fs-5 text-decoration-none text-white"><img src="/images/logo.png"
                            alt="Logo de la página web Retos" class="logo-image"> ChallengeApp</a>
                </h1>
                <button class="navbar-toggler mb-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse pb-5" id="navbarNav">
                    <ul class="navbar-nav ms-md-auto align-items-md-center">
                        <li class="nav-item btn-search">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Buscar Reto"
                                    aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar
                                </button>
                            </form>
                        </li>

                        <li class="nav-item icon-profile ms-md-3">
                            <a class="nav-link" href="/usuario/dashboard">
                                <i class="bi bi-person-circle fs-1 col"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container my-5 vh-100">
        <!-- Título principal -->
        <div class="text-center mb-5">
            <h2 class="text-white">Recompensas</h2>
        </div>

        <!-- Sección de Información de Medallas y Puntos Obtenidos -->
        <div class="row mb-5">
            <!-- Información de Medallas -->
            <div class="col-md-6">
                <h3 class="text-white">Información de Medallas</h3>
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center">
                        <img src="/images/bronze-medal.png" alt="Medalla Bronce" class="img-fluid me-3" style="width: 50px;">
                        <div>
                            <h5 class="card-title">Medalla de Bronce</h5>
                            <p class="card-text">Se otorgan al haber completado 5 retos simples o 2 retos complejos.</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center">
                        <img src="/images/silver-medal.png" alt="Medalla Plata" class="img-fluid me-3" style="width: 50px;">
                        <div>
                            <h5 class="card-title">Medalla de Plata</h5>
                            <p class="card-text">Se otorgan cada 5 medallas de bronce conseguidas.</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center">
                        <img src="/images/gold-medal.png" alt="Medalla Oro" class="img-fluid me-3" style="width: 50px;">
                        <div>
                            <h5 class="card-title">Medalla de Oro</h5>
                            <p class="card-text">Se otorgan cada 5 medallas de plata conseguidas.</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body d-flex align-items-center">
                        <img src="/images/diamond.png" alt="Medalla Diamante" class="img-fluid me-3"
                            style="width: 50px;">
                        <div>
                            <h5 class="card-title">Medalla de Diamante (Recompensa ESPECIAL)</h5>
                            <p class="card-text">Se otorgan cada 2000 puntos totales conseguidos.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Puntos obtenidos -->
            <div class="col-md-6">
                <h3 class="text-white">Puntos Obtenidos</h3>
                <ul class="list-group">
                    <!-- Iterar sobre la lista de puntos -->
                    <li th:each="punto : ${puntos}" class="list-group-item d-flex justify-content-between">
                        <span th:text="${punto.descripcion}">Descripción del punto</span>
                        <span th:text="${punto.cantidad}">Cantidad</span>
                    </li>
                    <!-- Total de puntos -->
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <strong>Total:</strong>
                        <strong th:text="${totalPuntos}">0 puntos</strong>
                    </li>
                </ul>
            </div>
            
        </div>

        <!-- Logros -->
        <div class="row">
            <div class="col-12">
                <h3 class="text-white">Logros</h3>
                <div class="d-flex justify-content-between">
                    <div class="card text-center" style="width: 20%;">
                        <div class="card-body">
                            <img src="/images/bronze-medal.png" alt="Medalla Bronce" class="img-fluid mb-2"
                                style="width: 60px;">
                            <h5 class="card-title">Bronce</h5>
                            <p class="card-text" th:text="${medallasBronce}">5 medallas</p>
                        </div>
                    </div>
                    <div class="card text-center" style="width: 20%;">
                        <div class="card-body">
                            <img src="/images/silver-medal.png" alt="Medalla Plata" class="img-fluid mb-2"
                                style="width: 60px;">
                            <h5 class="card-title">Plata</h5>
                            <p class="card-text" th:text="${medallasPlata}">3 medallas</p>
                        </div>
                    </div>
                    <div class="card text-center" style="width: 20%;">
                        <div class="card-body">
                            <img src="/images/gold-medal.png" alt="Medalla Oro" class="img-fluid mb-2" style="width: 60px;">
                            <h5 class="card-title">Oro</h5>
                            <p class="card-text" th:text="${medallasOro}">2 medallas</p>
                        </div>
                    </div>
                    <div class="card text-center" style="width: 20%;">
                        <div class="card-body">
                            <img src="/images/diamond.png" alt="Medalla Diamante" class="img-fluid mb-2"
                                style="width: 60px;">
                            <h5 class="card-title">Diamante</h5>
                            <p class="card-text" th:text="${medallasDiamante}">1 medalla</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <footer class="hidden footer bg-dark text-white text-center py-3 w-100 position-sticky bottom-0">
        <div>
            <p>&copy; 2024-2025 ChallengeApp. Todos los derechos reservados.</p>
            <p class="d-flex justify-content-center">
                <a href="#" class="me-3">Términos de Uso</a> |
                <a href="#" class="ms-3">Política de Privacidad</a>
            </p>
            <div class="social-icons">
                <i class="bi bi-whatsapp mx-2"></i>
                <i class="bi bi-instagram mx-2"></i>
                <i class="bi bi-twitter mx-2"></i>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>