<!doctype html>
<html lang="es" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Detalle del Reto</title>

    <!-- Metadatos generales -->
    <meta name="author" content="Jose Luis Obiang Ela Nanguang, Alfredo Mituy Okenve Obiang">
    <meta name="description" content="Detalle del Reto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesCommons.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <style>
        .card {
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card-body p,
        .card-body .card-text {
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }

        .card-body p:hover,
        .card-body .card-text:hover {
            color: #fff;
            background-color: #007bff;
            padding: 5px;
            border-radius: 5px;
        }
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            left: -100px;
            /* Ajusta este valor según sea necesario */
        }
    </style>

</head>

<body>
    <header class="header">

        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">

                <h1><a href="/" class="navbar-brand fs-5 text-decoration-none text-white"><img src="/images/logo.png"
                            alt="Logo de la página web Retos" class="logo-image"> ChallengeApp</a>
                </h1>
                <button class="navbar-toggler mb-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse pb-5" id="navbarNav">
                    <ul class="navbar-nav ms-md-auto align-items-md-center">
                        <li class="nav-item btn-search">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Buscar Reto"
                                    aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar
                                </button>
                            </form>
                        </li>
                        <li class="nav-item ms-md-3" th:classappend="${estaLogueado} ? 'dropdown' : ''">
                            <!-- Enlace al dashboard -->
                            <a class="nav-link" href="/usuario/dashboard" th:id="${estaLogueado} ? 'userMenu' : ''"
                                th:data-bs-toggle="${estaLogueado} ? '' : ''" aria-expanded="false">
                                <i class="bi bi-person-circle fs-1 col"></i>
                            </a>

                            <!-- Menú desplegable solo cuando el usuario está logueado -->
                            <ul class="dropdown-menu dropdown-menu-end" th:if="${estaLogueado}"
                                aria-labelledby="userMenu">
                                <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container my-5">
        <!-- Título de la página -->
        <div class="text-center mb-5">
            <h2 class="text-white">Detalle del Reto</h2>
        </div>

        <!-- Modal de configuración -->
        <div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="top:20%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="configModalLabel">Configuración del Reto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario para cambiar la privacidad -->
                        <form action="/usuario/reto/cambiar-privacidad" method="post">
                            <input type="hidden" name="retoId" th:value="${reto.id}">
                            <div class="mb-3 d-flex justify-content-between align-items-center">
                                <div>
                                    <label for="visibilidadReto" class="form-label mb-0">Privacidad del Reto:</label>
                                    <!-- Muestra el valor actual de visibilidad al lado del label -->
                                    <span th:text="${reto.visibilidad ? 'Público' : 'Privado'}"
                                        class="fw-bold me-3"></span>
                                </div>
                                <!-- Botón para cambiar privacidad alineado a la derecha -->
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Cambiar privacidad
                                </button>
                            </div>
                        </form>

                        <!-- Formulario para eliminar el reto -->
                        <form action="/usuario/reto/eliminar" method="post">
                            <input type="hidden" name="retoId" th:value="${reto.id}">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash me-2"></i>Eliminar reto
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Estructura de Grid -->
        <div class="row">
            <!-- Columna principal: Detalle del reto -->
            <div class="col-lg-8 mb-4">
                <div class="card align-items-center">
                    <div class="d-flex w-100 justify-content-center position-relative">
                        <div class="card-header bg-primary text-white">
                            <h3 class="card-title"><i class="bi bi-trophy me-2"></i>
                                <span th:text="${reto.nombre}">Nombre del Reto</span>
                            </h3>
                        </div>
                        <div class="position-absolute end-0 mt-2">
                            <button th:if="${esCreador}" class="btn btn-light btn-lg" data-bs-toggle="modal"
                                data-bs-target="#configModal">
                                <i class="bi bi-gear"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <!-- Imagen del reto, solo si hay una URL -->
                        <div th:if="${reto.url}" class="d-flex justify-content-center">
                            <img th:src="@{'/' + ${reto.url}}" alt="Imagen del reto"
                                class="img-fluid img-thumbnail mb-3 w-30" />
                        </div>

                        <p class="card-text"><i class="bi bi-info-circle me-2"></i> <strong>Descripción:</strong>
                            <span th:text="${reto.descripcion}">Descripción del reto</span>
                        </p>
                        <p class="card-text"><i class="bi bi-clock me-2"></i> <strong>Duración:</strong>
                            <span th:text="${reto.duracion}">Duración</span> días
                        </p>
                        <p class="card-text"><i class="bi bi-flag me-2"></i> <strong>Estado:</strong>
                            <span th:text="${reto.estado}">Estado</span>
                        </p>
                        <p class="card-text"><i class="bi bi-tags me-2"></i> <strong>Tipo:</strong>
                            <span th:text="${reto.tipo}">Tipo</span>
                        </p>
                        <p class="card-text"><i class="bi bi-star me-2"></i> <strong>Novedad:</strong>
                            <span th:text="${reto.novedad ? 'true' : 'false'}">Novedad</span>
                        </p>
                        <p class="card-text"><i class="bi bi-eye me-2"></i> <strong>Visibilidad:</strong>
                            <span th:text="${reto.visibilidad}">Visibilidad</span>
                        </p>
                        <p class="card-text"><i class="bi bi-calendar me-2"></i> <strong>Fecha de Creación:</strong>
                            <span th:text="${#dates.format(reto.fechaCreacion, 'yyyy-MM-dd')}">Fecha de Creación</span>
                        </p>
                        <p class="card-text"><i class="bi bi-calendar-check me-2"></i> <strong>Fecha de
                                Finalización:</strong>
                            <span th:text="${#dates.format(reto.fechaFinalizacion, 'yyyy-MM-dd')}">Fecha de
                                Finalización</span>
                        </p>
                        <div class="card-text d-flex align-items-center mb-3">
                            <i class="bi bi-bar-chart me-2"></i>
                            <strong class="me-2">Porcentaje de Progreso:</strong>
                            <input type="range" th:value="${reto.porcentajeProgreso}" disabled aria-label="progreso">
                        </div>
                        <p class="card-text"><i class="bi bi-person me-2"></i> <strong>Nombre del Creador:</strong>
                            <span th:text="${reto.creador.nombre}">Creador</span>
                        </p>

                        <!-- Progreso del reto si es simple -->
                        <div th:if="${reto.tipo.name() == 'SIMPLE'}" class="mb-3">
                            <div th:if="${estaUnido}" class="d-flex align-items-center mb-2">
                                <strong><i class="bi bi-bar-chart"></i> Progreso:</strong>
                                <span class="ms-2" th:text="${reto.progresoArray} + '/' + ${reto.cantidad}"></span>
                            </div>
                            <div th:if="${estaUnido}" class="d-flex align-items-center justify-content-center">
                                <!-- Rango ajustado -->
                                <input type="range" min="0" th:max="${reto.cantidad}" th:value="${reto.progresoArray}"
                                    class="form-range w-50 me-3" id="progresoSlider" disabled>
                                <!-- Botón en línea -->
                                <button type="button" class="btn btn-secondary" onclick="incrementarProgreso()">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>

                        <!-- Progreso del reto si es complejo -->
                        <div th:if="${reto.tipo.name() == 'COMPLEJO'}" class="mb-3 mt-5">
                            <h5><i class="bi bi-list-check me-2"></i> Subtareas:</h5>
                            <ul class="list-group">
                                <!-- Iteramos sobre las subtareas del reto complejo -->
                                <li class="list-group-item d-flex justify-content-between align-items-center"
                                    th:each="subtarea, iterStat : ${subtareas}">
                                    <span th:text="${subtarea.descripcion}">Descripción de la subtarea</span>

                                    <div class="d-flex align-items-center gap-2" th:if="${iterStat.index == 0 || subtareas[iterStat.index - 1].estado.name() == 'COMPLETADA'
                                        }">
                                        <!-- Mostrar solo si es la primera subtarea o la anterior está completada -->
                                        <input class="form-check-input" type="checkbox"
                                            th:id="'subtarea-' + ${subtarea.id}"
                                            th:checked="${subtarea.estado.name() == 'COMPLETADA'}"
                                            th:disabled="${subtarea.estado.name() == 'COMPLETADA'}">

                                        <form action="/usuario/reto/actualizarProgreso" method="post" class="m-0">
                                            <!-- Formulario inline -->
                                            <input type="hidden" name="retoId" th:value="${reto.id}">
                                            <input type="hidden" name="subtareaId" th:value="${subtarea.id}">
                                            <button class="btn btn-success btn-sm" type="submit"
                                                th:if="${subtarea.estado.name() != 'COMPLETADA'}">
                                                Completar
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Botón de unirse o actualizar progreso -->
                        <div class="text-center mt-3">
                            <!-- Formulario para unirse al reto -->
                            <form th:if="!${estaUnido}" action="/usuario/unirse" method="get">
                                <input type="hidden" name="retoId" th:value="${reto.id}">
                                <button class="btn btn-primary" type="submit">
                                    <i class="bi bi-plus-circle me-2"></i>Unirse al reto
                                </button>
                            </form>

                            <!-- Botones para usuarios ya unidos -->
                            <div th:if="${estaUnido}" class="d-flex justify-content-between">
                                <!-- Botón para reiniciar el reto -->
                                <form action="/usuario/reto/reiniciar" method="post" class="d-inline">
                                    <input type="hidden" name="retoId" th:value="${reto.id}">
                                    <button class="btn btn-primary" type="submit"
                                        th:if="${reto.porcentajeProgreso < 100}"
                                        th:attr="disabled=${reto.porcentajeProgreso == 0}">
                                        <i class="bi bi-arrow-clockwise me-2"></i>Reiniciar Reto
                                    </button>
                                </form>

                                <!-- Botón para actualizar progreso -->
                                <form action="/usuario/reto/actualizarProgreso" method="post" class="d-inline mx-4">
                                    <input type="hidden" name="retoId" th:value="${reto.id}">
                                    <input th:if="${reto.tipo.name() == 'SIMPLE'}" type="hidden"
                                        id="progresoActualInput" name="progresoArray" th:value="${reto.progresoArray}">

                                    <button class="btn btn-success" type="submit"
                                        th:if="${reto.porcentajeProgreso < 100}"
                                        th:attr="disabled=${reto.tipo.name() == 'COMPLEJO'}">
                                        <i class="bi bi-arrow-repeat me-2"></i>Actualizar Progreso
                                    </button>
                                </form>

                                <!-- Botón para dejar el reto -->
                                <form action="/usuario/reto/desunirse" method="post" class="d-inline">
                                    <input type="hidden" name="retoId" th:value="${reto.id}">
                                    <button class="btn btn-danger" type="submit"
                                        th:if="${reto.porcentajeProgreso < 100}">
                                        <i class="bi bi-x-circle me-2"></i>Dejar el reto
                                    </button>
                                </form>
                            </div>

                            <!-- Botón de completado (deshabilitado) -->
                            <form th:if="${reto.porcentajeProgreso == 100}" class="mt-3">
                                <button class="btn btn-secondary" type="button" disabled>
                                    <i class="bi bi-check-circle"></i> Completado
                                </button>
                            </form>
                        </div>

                        <p th:if="${mensaje}" th:text="${mensaje}" class="text-success text-center"></p>
                    </div>
                </div>
            </div>

            <!-- Columna secundaria: Usuarios del reto -->
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h4 class="card-title"><i class="bi bi-people me-2"></i> Usuarios Unidos</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <!-- Iterar sobre los participantes -->
                            <li class="list-group-item" th:each="usuario : ${participantes}">
                                <i class="bi bi-person-fill me-2"></i>
                                <span th:text="${usuario.nombre}">Nombre Usuario</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de comentarios -->
        <form action="/usuario/comentar" method="POST">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            <h4 class="card-title"><i class="bi bi-chat-dots me-2"></i> Comentarios</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="comentario" class="form-label">Deja tu comentario:</label>
                                <textarea class="form-control" id="comentario" name="comentarioTexto" rows="3"
                                    placeholder="Escribe aquí..."></textarea>
                            </div>
                            <input type="hidden" name="retoId" th:value="${reto.id}" />
                            <!-- Asegúrate de que el retoId esté disponible -->
                            <button class="btn btn-primary mb-3" type="submit">Enviar</button>
                            <hr>
                            <div class="mb-3">
                                <ul class="list-group">
                                    <li th:each="comentario : ${comentarios}" class="list-group-item">
                                        <strong th:text="${comentario.usuario.nombre}">Usuario</strong>:
                                        <span th:text="${comentario.texto}"></span>
                                        <br>
                                        <small class="text-muted"
                                            th:text="${#dates.format(comentario.fecha, 'yyyy-MM-dd HH:mm')}">Fecha del
                                            comentario</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>


    <footer class="footer bg-dark text-white text-center py-3 w-100 position-sticky bottom-0">
        <div>
            <p>&copy; 2024-2025 ChallengeApp. Todos los derechos reservados.</p>
            <p class="d-flex justify-content-center">
                <a href="#" class="me-3">Términos de Uso</a> |
                <a href="#" class="ms-3">Política de Privacidad</a>
            </p>
            <div class="social-icons">
                <i class="bi bi-whatsapp mx-2"></i>
                <i class="bi bi-instagram mx-2"></i>
                <i class="bi bi-twitter mx-2"></i>
            </div>
        </div>
    </footer>


    <script>
        function incrementarProgreso() {
            const slider = document.getElementById('progresoSlider');
            const input = document.getElementById('progresoActualInput');
            const maxProgreso = parseFloat(slider.max);
            let progresoActual = parseFloat(slider.value);

            if (progresoActual < maxProgreso) {
                progresoActual += 1;
                slider.value = progresoActual;
                input.value = progresoActual;
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>